<div class="edit-page">
  <div class="edit-container">
        <i class="fa-solid fa-arrow-left fa-2xl back-tiktok"
      style="color: #7d3bff; cursor: pointer; left: 0;"
      onclick="history.back();">
      Go back
    </i>
    <div class="edit-form-wrapper">
      <h3 style= "color: black">Update account information</h3>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="edit-form-inputs">
          <div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <strong style="color: black"><%= f.input :first_name, required: false, input_html: { autocomplete: "first name" } %></strong>
            <strong style="color: black"><%= f.input :last_name, required: false, input_html: { autocomplete: "last name" } %></strong>
            <%= f.input :date_of_birth, as: :string, required: true, input_html: { data: { autocomplete: "date of birth", controller: "datepicker" } } %>
            <strong class="form-label">
            <%= f.input :profession, as: :select, collection: ['Social Media Data Analyst', 'Digital Marketing Specialist', 'Content Strategist', 'SEO/SEM Specialist', 'UX/UI Designer', 'Growth Hacker', 'Data Scientist (Social Media Focus)','Influencer Marketing Manager','Community Manager','Product Manager (Social Media Tools)', 'Other'],
               include_blank: 'Select a profession', required: false %>
            </strong>
            <strong style="color: black"><%= f.input :company, required: false, input_html: { autocomplete: "company" } %></strong>
          </div>

          <div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: false, input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password, required: true, input_html: { autocomplete: "current-password" } %>
            <%= f.input :avatar, as: :file, label: "Profile Picture", input_html: { accept: "image/*" } %>
          </div>
        </div>

        <div class="edit-form-actions">
          <%= f.button :submit, "Update", class: "signup-btn"  %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="edit-image">
     <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, class: "profile-details-avatar"%>
    <% else %>
      <%= image_tag "default-avatar.png" , class: "profile-details-avatar"%>
    <% end %>
  </div>
</div>
