<div class="signup-page">
  <div class="signup-container">
    <div class="signup-form-wrapper">
      <h2>Update your account information</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name, required: true, input_html: { autocomplete: "first name", placeholder: "First Name" } %>
          <%= f.input :last_name, required: true, input_html: { autocomplete: "last name", placeholder: "Last Name" } %>
          <%= f.input :email, required: true, input_html: { autocomplete: "email", placeholder: "Email" } %>
          <%= f.input :password, required: true, input_html: { autocomplete: "new-password", placeholder: "Password" } %>
          <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password", placeholder: "Confirm Password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "signup-btn" %>
        </div>

        <div class="form-footer">
          <p>Already have an account? <%= link_to "Login", new_session_path(resource_name) %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="signup-image">
    <img src="https://www.vibe.co/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbg-variant-3.f59d5e97.jpeg&w=1920&q=90" alt="Signup Image" />
  </div>
</div>
