<div class="container-filter-favorites">
  <div class="platform-selector text-center-favorites">
    <div class="page-header">
      <label class="black-underline">Platform</label>
    </div>
    <div class="platform-options d-flex justify-content-center">
      <div>
        <%= link_to url_for(platform: 'tiktok'), class: "platform-button #{'active' if params[:platform] == 'tiktok'}" do %>
          <i class="fa-brands fa-tiktok"></i>
        <% end %>
      </div>
      <div>
        <%= link_to url_for(platform: 'youtube'), class: "platform-button #{'active' if params[:platform] == 'youtube'}" do %>
          <i class="fa-brands fa-youtube"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="trend-types">
    <% if params[:platform] == 'tiktok' %>
      <div class= "title">
        <p class="page-header">
          <span class="black-underline">Trend type</span>
        </p>
      </div>
      <!-- Hashtag Option -->
      <div class="trend-types-options">
        <div class="hashtag-option">
          <label class="page-option <%= 'active' if params[:tiktok_page] == 'hashtag' || params[:tiktok_page].nil? %>">
            <input type="radio" name="tiktok_page" value="hashtag"
                  <%= 'checked' if params[:tiktok_page] == 'hashtag' || params[:tiktok_page].nil? %>
                  onchange="this.form.submit();" hidden>
            <i class="fa-solid fa-hashtag"></i> Hashtag
          </label>
        </div>
        <!-- Keyword Option -->
        <div class="keyword-option">
          <label class="page-option <%= 'active' if params[:tiktok_page] == 'keyword' %>">
            <input type="radio" name="tiktok_page" value="keyword"
                  <%= 'checked' if params[:tiktok_page] == 'keyword' %>
                  onchange="this.form.submit();" hidden>
            <i class="fa-solid fa-key"></i> Keyword
          </label>
        </div>
        <!-- Product Option -->
        <div class="prodcut-option">
          <label class="page-option <%= 'active' if params[:tiktok_page] == 'product' %>">
            <input type="radio" name="tiktok_page" value="product"
                  <%= 'checked' if params[:tiktok_page] == 'product' %>
                  onchange="this.form.submit();" hidden>
            <i class="fa-solid fa-box"></i> Product
          </label>
        </div>
      </div>
    <% end %>
  </div>
</div>
