<div class="banner text-center">
  <h1 class="display-4 text-white">Your <span class="highlight">Favorites</span></h1>
  <p class="lead text-white">Browse your favorite trending topics from various platforms.</p>
</div>


<!-- Display Favorite Trends -->
<% if @favorite.trends.present? %>
  <div class="container my-5">
    <h2>Your Favorite Trends:</h2>
    <div class="row">
    <% @favorite.trends.each do |trend| %>
      <% if params[:platform].blank? || trend.platform == params[:platform] %>
        <div class="col-md-4 mb-4">
          <div class="rounded cartao">


            <div>
              <h5 class="font-weight-bold text-dark"><%= trend.title %></h5>
              <p class="text-muted"><strong>Platform:</strong> <%= trend.platform.capitalize %></p>

              <% if trend.view_count.present? %>
                <p class="text-muted"><strong>Views:</strong> <%= trend.formatted_count(trend.view_count) %></p>
              <% end %>

              <% if trend.like_count.present? %>
                <p class="text-muted"><strong>Likes:</strong> <%= trend.formatted_count(trend.like_count) %></p>
              <% end %>

              <!-- Action Buttons -->
              <div class="d-flex justify-content-between align-items-center">
                <%= button_to 'Remove from Favorites',
                      favorite_remove_trend_path(favorite_id: current_user.favorite.id, trend_id: trend.id),
                      method: :delete,
                      class: 'btn btn-danger btn-sm' %>

                <%= link_to 'View Trend', trend_path(trend), class: 'btn btn-info btn-sm' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
  </div>
<% else %>
  <div class="container my-5">
    <h2>Uh-oh, your collection is feeling lonely! 😔</h2>
    <p>Time to fill it with some epic trends! 📈✨ Start exploring and improve your communication strategy! 🎉</p>
    <%= link_to 'Browse trends', trends_path, class: 'btn btn-primary' %>
  </div>
<% end %>
