<div class="trend-banner text-start">
  <h1 class="trend-display display-4 text-white">
    Trend <span class="trend-highlight">prediction</span>
  </h1>
  <p class="trend-lead lead text-white">
    Generate predictions based on your favorite trends to <span class="trend-highlight">stay ahead of the curve</span>
  </p>
</div>



<%= form_with url: predictions_path, method: :get, class: 'mb-4 margin' do |form| %>
<h3 class="text-start mx-4"><span class="trend-highlight">Step 1</span> - Select a few trends</h3>
  <div class="form-group mx-4">
    <%= select_tag :trend_ids, options_for_select(@favorite_trends.map { |trend| [trend.title, trend.id] }, selected: params[:trend_ids]), multiple: true, class: 'form-control select2 mb-4' %>
  </div>

  <!-- Step 2 - Industry selection -->
  <h3 class="text-start mx-4"><span class="trend-highlight">Step 2</span> - Select an industry</h3>
  <div class="form-group mx-4">
    <%= select_tag :industry, options_for_select([
      ["Technology", "technology"],
      ["Fashion", "fashion"],
      ["Entertainment", "entertainment"],
      ["Health", "health"],
      ["Sports", "sports"]
    ], selected: params[:industry]), class: 'form-control select2 mb-4' %>
  </div>

  <h3 class="text-start mx-4"><span class="trend-highlight">Step 3</span> - Hit the button and go viral!</h3>
  <div class="form-group text-start mx-4">
    <%= form.submit "Generate Predictions", class: "btn btn-primary btn-lg custom-btn top" %>
  </div>
<% end %>

<% if @predictions.present? %>
  <h2 class="text-center my-4">Generated Predictions:</h2>
  <div class="row right">
    <% @predictions.each do |prediction| %>
      <div class="col-md-4 mb-3">
        <div class="list-group-item">
          <span class="trend-highlight"><h3 class="mb-2"><%= prediction.title %></h3></span>
          <p><%= prediction.description %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center text-muted my-4">No predictions generated yet.</p>
<% end %>
