<div class="container-filter">
  <div class="platform-selector text-center">
    <label class="platform-label animate-banner">
      <span class="black-underline">Platform</span>
    </label>
    <div class="platform-options d-flex justify-content-center">
     <%= link_to url_for(platform: 'tiktok'), class: "platform-button #{'active' if params[:platform] == 'tiktok' || params[:platform].nil?}" do %>
      <i class="fa-brands fa-tiktok"></i>
    <% end %>

      <%= link_to url_for(platform: 'youtube'), class: "platform-button #{'active' if params[:platform] == 'youtube'}" do %>
        <i class="fa-brands fa-youtube"></i>
      <% end %>
    </div>
  </div>

  <% if @tiktok_trends_hashtag.present? || @tiktok_trends_keyword.present? || @tiktok_trends_product.present? %>
    <div class="platform-page-selector text-center mt-4">
    <p class="page-header">
      <span class="black-underline">Trend type</span>
    </p>
      <div class="page-options d-flex justify-content-center">
        <%= link_to trends_path(anchor: "results", tiktok_page: 'hashtag'), class: "page-option #{'active' if params[:tiktok_page] == 'hashtag' || params[:tiktok_page].nil?}" do %>
          <i class="fa-solid fa-hashtag"></i> Hashtag
        <% end %>
        <%= link_to trends_path(anchor: "results", tiktok_page: 'keyword'), class: "page-option #{'active' if params[:tiktok_page] == 'keyword'}" do %>
          <i class="fa-solid fa-magnifying-glass"></i> Keyword
        <% end %>
        <%= link_to trends_path(anchor: "results", tiktok_page: 'product'), class: "page-option #{'active' if params[:tiktok_page] == 'product'}" do %>
          <i class="fa-solid fa-box"></i> Product
        <% end %>
      </div>
    </div>
  <% end %>
</div>
