<div class="banner text-center">
  <h1 class="display-4 text-white animate-banner">Current <span class="highlight">Trends</span></h1>
  <p class="lead text-white animate-banner">Browse what's currently <span class="highlight">trending</span></p>
</div>

<!-- TikTok Trends Table for Hashtag -->
<% if @tiktok_trends_hashtag.present? %>
  <div id="results" class="container my-5">
    <h2 class="esquerda">Hashtags trending on <strong>TikTok</strong></h2>
    <%= render "platforms" %>
    <table class="table-custom" data-controller="clickable-row">
      <thead>
        <tr>
          <th scope="col" style="text-align:center">Rank</th>
          <th scope="col"style="text-align:center">Hashtag</th>
          <th scope="col"style="text-align:center">Industry</th>
          <th scope="col"style="text-align:center">Posts</th>
          <th scope="col"style="text-align:center">Overall</th>
          <th scope="col"style="text-align:center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tiktok_trends_hashtag.select { |trend| trend.display.nil? || trend.display == true }.each do |trend| %>
          <tr data-clickable-row-target="row" data-href="<%= trend_path(trend) %>">
            <td style="text-align:center"><%= trend.rank %></td>
            <td style="text-align:center"><%= trend.title %></td>
            <td style="text-align:center"><%= trend.industry.present? ? trend.industry : 'N/A' %></td>
            <td style="text-align:center"><%= trend.formatted_count(trend.count) if trend.count.present? %></td>
            <td style="text-align:center"><%= trend.formatted_count(trend.count_overall) if trend.count_overall.present? %></td>
            <td style="text-align:center"><%= link_to "Analytics", trend_path(trend), class: 'btn btn-primary ml-2 custom-btn override' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<!-- TikTok Trends Table for Keyword -->
<% if @tiktok_trends_keyword.present? %>
  <div id="results" class="container my-5">
    <h2 class="esquerda">Keywords trending on <strong>TikTok</strong></h2>
    <%= render "platforms" %>
    <table class="table-custom" data-controller="clickable-row">
      <thead>
        <tr>
          <th scope="col"style="text-align:center">Rank</th>
          <th scope="col"style="text-align:center">Keyword</th>
          <th scope="col"style="text-align:center">Popularity</th>
          <th scope="col"style="text-align:center">Impressions</th>
          <th scope="col"style="text-align:center">Likes</th>
          <th scope="col"style="text-align:center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tiktok_trends_keyword.select { |trend| trend.display.nil? || trend.display == true }.each do |trend| %>
          <tr data-clickable-row-target="row" data-href="<%= trend_path(trend) %>">
            <td style="text-align:center"><%= trend.rank %></td>
            <td style="text-align:center"><%= trend.title %></td>
            <td style="text-align:center"><%= trend.formatted_count(trend.popularity) if trend.popularity.present? %></td>
            <td style="text-align:center"><%= trend.formatted_count(trend.impression_count) if trend.impression_count.present? %></td>
            <td style="text-align:center"><%= trend.formatted_count(trend.like_count) if trend.like_count.present? %></td>
            <td style="text-align:center"><%= link_to "Analytics", trend_path(trend), class: 'btn btn-primary ml-2 custom-btn override' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<!-- TikTok Trends Table for Product -->
<% if @tiktok_trends_product.present? %>
  <div id="results" class="container my-5">
    <h2 class="esquerda">Products trending on <strong>TikTok</strong></h2>
    <%= render "platforms" %>
    <table class="table-custom" data-controller="clickable-row">
      <thead>
        <tr>
          <th>#</th>
          <th scope="col"style="text-align:center">Product</th>
          <th scope="col"style="text-align:center">Industry</th>
          <th scope="col"style="text-align:center">Popularity</th>
          <th scope="col"style="text-align:center">Impressions</th>
          <th scope="col"style="text-align:center">Likes</th>
          <th scope="col"style="text-align:center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tiktok_trends_product.select { |trend| trend.display.nil? || trend.display == true }.each_with_index do |trend, index| %>
          <tr data-clickable-row-target="row" data-href="<%= trend_path(trend) %>">
            <td style="text-align:center"><%= index + 1 %></td>
            <td style="text-align:center"><%= trend.title %></td>
            <td style="text-align:center"><%= trend.industry.present? ? trend.industry : 'N/A' %></td>
            <td style="text-align:center"><%= trend.formatted_count(trend.popularity) if trend.popularity.present? %></td>
            <td style="text-align:center"><%= trend.formatted_count(trend.impression_count) if trend.impression_count.present? %></td>
            <td style="text-align:center"><%= trend.formatted_count(trend.like_count) if trend.like_count.present? %></td>
            <td style="text-align:center"><%= link_to "Analytics", trend_path(trend), class: 'btn btn-primary ml-2 custom-btn override' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<!-- YouTube Trends Table -->
<% if @youtube_trends.present? %>
  <div id="results" class="container my-4">
      <h2 class="esquerda">Trending on <strong>YouTube</strong></h2>
      <div class= "platforms-search">
        <%= render "platforms" %>
        <%= form_with url: trends_path, method: :get, local: true, class: "form-inline custom-form" do |f| %>
          <div class="form-group search" style="display: flex">
            <%= f.text_field :keyword, placeholder: "Search for trending videos...", class: "form-control custom-input", value: params[:keyword], required: true %>
            <%= f.hidden_field :platform, value: 'youtube' %>  <!-- Added this hidden field -->
            <%= f.submit "Search", class: 'btn btn-primary ml-2 custom-btn ok' %>
          </div>
        <% end %>
      </div>
  </div>

  <div class="container my-5">
    <table class="table-custom-youtube" data-controller="clickable-row">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Title</th>
          <th scope="col">Views</th>
          <th scope="col">Likes</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if params[:keyword].present? %>
  <% @youtube_trends.each_with_index do |trend, index| %>
    <tr data-clickable-row-target="row" data-href="<%= trend_path(trend) %>">
      <td style="text-align:center"><%= index + 1 %></td>
      <td><%= trend.title %></td>
      <td style="text-align:center"><%= trend.formatted_count(trend.view_count) if trend.view_count.present? %></td>
      <td style="text-align:center"><%= trend.formatted_count(trend.like_count) if trend.like_count.present? %></td>
      <td style="text-align:center"><%= link_to "Analytics", trend_path(trend), class: 'btn btn-primary ml-2 custom-btn override' %></td>
    </tr>
  <% end %>
<% else %>
  <% if @youtube_trends.present? %>
    <% @youtube_trends.each_with_index do |trend, index| %>
      <tr data-clickable-row-target="row" data-href="<%= trend_path(trend) %>">
        <td style="text-align:center"><%= index + 1 %></td>
        <td><%= trend.title %></td>
        <td style="text-align:center"><%= trend.formatted_count(trend.view_count) if trend.view_count.present? %></td>
        <td style="text-align:center"><%= trend.formatted_count(trend.like_count) if trend.like_count.present? %></td>
        <td style="text-align:center"><%= link_to "Analytics", trend_path(trend), class: 'btn btn-primary ml-2 custom-btn override' %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
      </tbody>
    </table>
  </div>
<% end %>
