<div class="banner text-center">
  <h1 class="display-4 text-white">Current <span class="highlight">Trends</span></h1>
  <p class="lead text-white">Browse what's currently <span class="highlight">trending</span></p>
</div>

<!-- Platform Selector -->
<div class="container">
  <%= form_with url: trends_path(anchor: "results"), method: :get, local: true, class: "form-inline custom-form" do %>
    <div class="form-group">
      <%= label_tag :platform, 'Select Platform:', class: 'mr-2' %>
      <%= select_tag :platform, options_for_select([['TikTok', 'tiktok'], ['YouTube', 'youtube']], selected: params[:platform]),
          class: 'form-control custom-select', onchange: 'this.form.submit();' %>
    </div>
  <% end %>
</div>


<!-- TikTok Trends Table -->
<% if @tiktok_trends.present? %>
  <div id="results" class="container my-5 ">
    <h2 class="esquerda">Trending on <strong>TikTok</strong></h2>
    <table class="table-custom" data-controller="clickable-row">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Hashtag</th>
          <th scope="col">Industry</th>
          <th scope="col">Posts</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tiktok_trends.select { |trend| trend.display.nil? || trend.display == true }.each do |trend| %>
          <tr data-clickable-row-target="row" data-href="<%= trend_path(trend) %>">
            <td><%= trend.rank %></td>
            <td><%= trend.title %></td>
            <td><%= trend.industry.present? ? trend.industry : 'N/A' %></td>
            <td><%= trend.formatted_count(trend.count) if trend.count.present? %></td>
            <td><%= link_to "Analytics", trend_path(trend), class: 'btn btn-primary ml-2 custom-btn override' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>


<!-- YouTube Trends Table -->
<% if @youtube_trends.present? %>
  <div id="results" class="container my-4">
    <%= form_with url: trends_path, method: :get, local: true, class: "form-inline custom-form" do |f| %>
      <div class="form-group d-flex">
        <%= f.text_field :keyword, placeholder: "Search for trending videos...", class: "form-control custom-input", required: true %>
        <%= f.submit "Search", class: 'btn btn-primary ml-2 custom-btn ok' %>
      </div>
    <% end %>
  </div>

  <div class="container my-5">
    <h2 class="esquerda">Trending on <strong>YouTube</strong></h2>
    <table class="table-custom" data-controller="clickable-row">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Title</th>
          <th scope="col">Views</th>
          <th scope="col">Likes</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @youtube_trends.each_with_index do |trend, index| %>
          <tr data-clickable-row-target="row" data-href="<%= trend_path(trend) %>">
            <td><%= index + 1 %></td>
            <td><%= trend.title %></td>
            <td><%= trend.formatted_count(trend.view_count) if trend.view_count.present? %></td>
            <td><%= trend.formatted_count(trend.like_count) if trend.like_count.present? %></td>
            <td><%= link_to "Analytics", trend_path(trend), class: 'btn btn-primary ml-2 custom-btn override' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
