<div class="trend-banner text-start">
  <h1 class="trend-display display-4 text-white">
    <% if @trend.platform == 'youtube' %>
      <span class="trend-highlight">YouTube - </span>
    <% elsif @trend.platform == 'tiktok' %>
      <span class="trend-highlight">TikTok trend</span>
    <% end %>
    <%= @trend.title %>
  </h1>
  <p class="trend-lead lead text-white">
    Insights from the last days and overall <span class="trend-highlight">performance</span>
  </p>
</div>
<div class="trend-container container my-3">
  <% if @trend.platform == 'youtube' %>
    <i class="fa-solid fa-arrow-left fa-2xl back-youtube"
    style="color: #7d3bff; cursor: pointer; left: 0;"
    onclick="history.back();">
     Back
    </i>
    <!-- YouTube-specific content -->
    <div class="trend-content d-flex justify-content-between">
      <div class="trend-details text-start">
        <h2 class="trend-title"><%= @trend.title %></h2>
        <h3 class="trend-metrics-title">Views</h3>
        <div class="d-flex">
          <h3 class="trend-metrics-count">
            <strong><%= @trend.formatted_count(@trend.view_count) %></strong> Views
          </h3>
          <p class="trend-metrics-count">/</p>
          <h3 class="trend-metrics-count">
            <strong><%= @trend.formatted_count(@trend.like_count) %></strong> Likes
          </h3>
          <div class="youtube-details">
            <h3>Duration: <strong><%= @trend.video_duration %></strong></h3>
            <h3>Published at: <strong><%= @trend.published_at.strftime('%B %d, %Y') if @trend.published_at %></strong></h3>
            <h3>Channel: <strong><%= @trend.channel_name %></strong></h3>
          </div>
        </div>
      </div>
      <!-- YouTube Video and Hashtag Section -->
      <div class="youtube-content">
          <div class = "youtube-favorites-icon">
            <% if current_user.favorite.trends.exists?(id: @trend.id) %>
              <!-- Replace the button with a clickable trash icon -->
              <%= link_to favorite_remove_trend_path(favorite_id: current_user.favorite.id, trend_id: @trend.id),data: {turbo_method: :delete}, class: 'trash-icon-link' do %>
                <i class="fa-solid fa-bookmark fa-2xl" style="color: #7d3bff; cursor: pointer;"></i>
              <% end %>
            <% else %>
              <%= link_to favorite_add_trend_path(favorite_id: current_user.favorite.id, trend_id: @trend.id),data: {turbo_method: :post}, class: 'add-favorite-icon-link' do %>
                <i class="fa-regular fa-bookmark fa-2xl wishlist" style="color: #7d3bff;"></i>
              <% end %>
            <% end %>
          </div>
        <div class="youtube-video">
          <h3 class="trend-metrics-title">Watch the video</h3>
          <iframe width="600" height="315"
                  src="<%= @trend.video_url.gsub('watch?v=', 'embed/') %>"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>
        </div>
        <div class="youtube-hashtags">
          <h3 class="trend-metrics-title">Hashtags</h3>
          <% if @trend.hashtags.present? %>
            <div class="hashtag-boxes">
              <% @trend.hashtags.split(', ').each do |hashtag| %>
                <div class="hashtag-box">
                  <%= hashtag %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>No hashtags available</p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- TikTok-specific content for hashtag -->
  <% elsif @trend.platform == 'tiktok' && @trend.tiktok_page == 'hashtag' %>
    <i class="fa-solid fa-arrow-left fa-2xl back-tiktok"
      style="color: #7d3bff; cursor: pointer; left: 0;"
      onclick="history.back();">
       Back
    </i>
    <div class= "tiktok-favorites-icon">
      <% if current_user.favorite.trends.exists?(id: @trend.id) %>
        <!-- Replace the button with a clickable trash icon -->
        <%= link_to favorite_remove_trend_path(favorite_id: current_user.favorite.id, trend_id: @trend.id),data: {turbo_method: :delete}, class: 'trash-icon-link' do %>
          <i class="fa-solid fa-bookmark fa-2xl" style="color: #7d3bff; cursor: pointer;"></i>
        <% end %>
      <% else %>
        <%= link_to favorite_add_trend_path(favorite_id: current_user.favorite.id, trend_id: @trend.id),data: {turbo_method: :post}, class: 'add-favorite-icon-link' do %>
          <i class="fa-regular fa-bookmark fa-2xl wishlist" style="color: #7d3bff;"></i>
        <% end %>
      <% end %>
    </div>
    <div class="trend-details text-start">
      <h2 class="trend-title"><%= @trend.title %></h2>
      <% if @trend.industry.present? %>
        <h3><strong>Industry:</strong> <%= @trend.industry %></h3>
      <% end %>
      <h3 class="trend-metrics-title">Posts</h3>
      <div class="d-flex">
        <h3 class="trend-metrics-count">
          <strong><%= @trend.formatted_count(@trend.count) %></strong> Last 7 days, all regions
        </h3>
        <p class="trend-metrics-count">/</p>
        <h3 class="trend-metrics-count">
          <strong><%= @trend.formatted_count(@trend.count_overall) %></strong> Overall
        </h3>
      </div>
    </div>
    <!-- Period selection form -->
    <div class="container mt-4">
      <%= form_with url: trend_path(@trend, anchor: "graph"), method: :get, local: true, class: "form-inline custom-form arturr" do %>
        <div class="form-group mr-3 lucas">
          <%= label_tag :period, 'Select period', class: 'volta' %>
          <%= select_tag :period, options_for_select(
            { '7 Days' => 7, '30 Days' => 30, '120 Days' => 120, '365 Days' => 365 },
            selected: params[:period] || 7
          ), class: 'form-control custom-select rafael', onchange: 'this.form.submit()' %>
        </div>
        <div class="form-group mr-3 lucas">
          <%= label_tag :country, 'Select country', class: 'volta' %>
          <%= select_tag :country, options_for_select(
            Count::COUNTRY_MAPPING.map { |code, (name, flag)| ["#{name} #{flag}", code] },
            selected: params[:country] || 'US'
          ), class: 'form-control custom-select', onchange: 'this.form.submit()' %>
        </div>
      <% end %>
    </div>
    <!-- Country-based performance graphs -->
    <div class="trend-country-stats mt-5">
      <h3 id="graph" class="trend-country-title desce" style="color: #480DBF;">Performance by country</h3>
      <% if @selected_period == '7' %>
        <%= bar_chart @graph_data_7_days,
        height: "300px",
        thousands: ",",
        colors: ["#6A0DAD", "#B1B1B1", "#1A1A1A", "#FF007F", "#00FFFF", "#A349A4"],
        library: {
          title: { text: "Performance by country (7 days)" },
          scales: {
            x: {
              title: {
                display: true,
                text: "Number of posts",
                font: {
                  size: 18,
                  weight: "bold"
                }
              },
              ticks: {
                display: true,
                font: {
                  size: 16
                }
              },
              grid: {
                drawTicks: false,
              }
            },
            y: {
              title: {
                display: false
              },
              ticks: {
                display: true,
                font: {
                  size: 16
                },
                padding: 10
              },
              grid: {
                drawTicks: false,
              }
            }
          }
        }
    %>
    <% elsif @selected_period == '30' %>
    <%= bar_chart @graph_data_30_days,
      height: "300px",
      thousands: ",",
      colors: ["#6A0DAD", "#B1B1B1", "#1A1A1A", "#FF007F", "#00FFFF", "#A349A4"],
      library: {
        title: { text: "Performance by country (7 days)" },
        scales: {
          x: {
            title: {
              display: true,
              text: "Number of posts",
              font: {
                size: 18,
                weight: "bold"
              }
            },
            ticks: {
              display: true,
              font: {
                size: 16
              }
            },
            grid: {
              drawTicks: false,
            }
          },
          y: {
            title: {
              display: false
            },
            ticks: {
              display: true,
              font: {
                size: 16
              },
              padding: 10
            },
            grid: {
              drawTicks: false,
            }
          }
        }
      }
    %>
    <% elsif @selected_period == '120' %>
      <%= bar_chart @graph_data_120_days,
      height: "300px",
      thousands: ",",
      colors: ["#6A0DAD", "#B1B1B1", "#1A1A1A", "#FF007F", "#00FFFF", "#A349A4"],
      library: {
        title: { text: "Performance by country (7 days)" },
        scales: {
          x: {
            title: {
              display: true,
              text: "Number of posts",
              font: {
                size: 18,
                weight: "bold"
              }
            },
            ticks: {
              display: true,
              font: {
                size: 16
              }
            },
            grid: {
              drawTicks: false,
            }
          },
          y: {
            title: {
              display: false
            },
            ticks: {
              display: true,
              font: {
                size: 16
              },
              padding: 10
            },
            grid: {
              drawTicks: false,
            }
          }
        }
      }
    %>
    <% elsif @selected_period == '365' %>
      <%= bar_chart @graph_data_365_days,
      height: "300px",
      thousands: ",",
      colors: ["#6A0DAD", "#B1B1B1", "#1A1A1A", "#FF007F", "#00FFFF", "#A349A4"],
      library: {
        title: { text: "Performance by country (7 days)" },
        scales: {
          x: {
            title: {
              display: true,
              text: "Number of posts",
              font: {
                size: 18,
                weight: "bold"
              }
            },
            ticks: {
              display: true,
              font: {
                size: 16
              }
            },
            grid: {
              drawTicks: false,
            }
          },
          y: {
            title: {
              display: false
            },
            ticks: {
              display: true,
              font: {
                size: 16
              },
              padding: 10
            },
            grid: {
              drawTicks: false,
            }
          }
        }
      }
    %>
    <% end %>
    </div>
    <!-- Add margin to the video section -->
    <div class="trend-videos">
      <h3 class="trend-metrics-title" style="color: #480DBF;">Videos for <%= Count::COUNTRY_MAPPING[@selected_country][0] %> <%= Count::COUNTRY_MAPPING[@selected_country][1] %> - last <%= @selected_period %> days</h3>
      <div class="video-list">
        <% @filtered_videos.each do |video| %>
          <div class="video-item">
            <iframe class="video-iframe"
              src="<%= video.url.gsub('watch?v=', 'embed/') %>"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>
        <% end %>
      </div>
    </div>

<div class="related-interests mt-5">
  <h3 class="trend-metrics-title" style="color: #480DBF; font-size: 26px;">Related interests for <%= Count::COUNTRY_MAPPING[@selected_country][0] %> <%= Count::COUNTRY_MAPPING[@selected_country][1] %> - last <%= @selected_period %> days</h3>
  <div class="info-icon-interest" data-tooltip="The top interests associated with viewers of this trend. The value represents an index score. Example: If the score is 200, the interest category is 2x as popular with viewers of this trend compared to its average popularity on TikTok worldwide.">?</div>

  <div class="interests-container">
    <% @filtered_interests.each do |interest| %>
      <div class="interest-box">
        <span class="interest-title"><%= interest.title %></span>
        <span class="flame-icon">&#128293;</span>
        <span class="interest-score"><%= interest.score %></span>
      </div>
    <% end %>
  </div>
</div>


  <!-- TikTok-specific content for keyword -->
  <% elsif @trend.platform == 'tiktok' && @trend.tiktok_page == 'keyword' %>
      <i class="fa-solid fa-arrow-left fa-2xl back-tiktok"
        style="color: #7d3bff; cursor: pointer; left: 0;"
        onclick="history.back();">
        Back
      </i>
          <div class= "tiktok-favorites-icon">
      <% if current_user.favorite.trends.exists?(id: @trend.id) %>
        <!-- Replace the button with a clickable trash icon -->
        <%= link_to favorite_remove_trend_path(favorite_id: current_user.favorite.id, trend_id: @trend.id),data: {turbo_method: :delete}, class: 'trash-icon-link' do %>
          <i class="fa-solid fa-bookmark fa-2xl" style="color: #7d3bff; cursor: pointer;"></i>
        <% end %>
      <% else %>
        <%= link_to favorite_add_trend_path(favorite_id: current_user.favorite.id, trend_id: @trend.id),data: {turbo_method: :post}, class: 'add-favorite-icon-link' do %>
          <i class="fa-regular fa-bookmark fa-2xl wishlist" style="color: #7d3bff;"></i>
        <% end %>
      <% end %>
    <div class="trend-details text-start">
      <h2 class="trend-title"><%= @trend.title %></h2>
    </div>
        <div class="statistics-grid">
    <div class="stat-box">
      <div class="info-icon" data-tooltip="The number of ad creatives featuring this product or subcategory.">?</div>
      <strong>Popularity</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.popularity) %></div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="The difference in number of ad creatives featuring this product or subcategory over the period you selected.">?</div>
      <strong>Popularity change</strong>
      <div class="stat-value">+<%= @trend.popularity_change %>%</div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="Clickthrough-rate (CTR) is the percentage of times people saw the ad and clicked on it.">?</div>
      <strong>CTR</strong>
      <div class="stat-value"><%= @trend.ctr %>%</div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="Conversion rate (CVR) is the percentage of results achieved out of all the clicks on the ad, based on ad objective. For example, app installs, product sales, or reach.">?</div>
      <strong>CVR</strong>
      <div class="stat-value"><%= @trend.cvr %>%</div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="Cost per action (CPA) is the average amount of money spent on a conversion.">?</div>
      <strong>CPA</strong>
      <div class="stat-value"><%= @trend.cpa %> USD</div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="The total amount of money spent on the ad during its schedule.">?</div>
      <strong>Cost</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.cost) %> USD</div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="The number of times the ad has been displayed on screen.">?</div>
      <strong>Impressions</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.impression_count) %></div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="The percentage of people who watched the ad for at least 6 seconds.">?</div>
      <strong>6s view rate</strong>
      <div class="stat-value"><%= @trend.view_rate_6s %>%</div>
    </div>
    <div class="stat-box">
      <strong>Likes</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.like_count) %></div>
    </div>
    <div class="stat-box">
      <strong>Shares</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.share_count) %></div>
    </div>
    <div class="stat-box">
      <strong>Comments</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.comment_count) %></div>
    </div>
  </div>

    <!-- Period selection form -->
    <div class="container mt-4">
      <%= form_with url: trend_path(@trend, anchor: "graph"), method: :get, local: true, class: "form-inline custom-form arturr" do %>
        <div class="form-group mr-3 lucas">
          <%= label_tag :period, 'Select period', class: 'volta' %>
          <%= select_tag :period, options_for_select(
            { '7 Days' => 7, '30 Days' => 30, '120 Days' => 120, '365 Days' => 365 },
            selected: params[:period] || 7
          ), class: 'form-control custom-select rafael', onchange: 'this.form.submit()' %>
        </div>
        <div class="form-group mr-3 lucas">
          <%= label_tag :country, 'Select country', class: 'volta' %>
          <%= select_tag :country, options_for_select(
            Count::COUNTRY_MAPPING.map { |code, (name, flag)| ["#{name} #{flag}", code] },
            selected: params[:country] || 'US'
          ), class: 'form-control custom-select', onchange: 'this.form.submit()' %>
        </div>
      <% end %>
    </div>


<h3 class="trend-metrics-title sapato" style="text-align: left; padding-bottom: 40px;">Keyword examples for <%= Count::COUNTRY_MAPPING[@selected_country][0] %> <%= Count::COUNTRY_MAPPING[@selected_country][1] %> - last <%= @selected_period %> days</h3>
<% if @filtered_keyword_examples.any? %>
  <table class="table-custom sobe" data-controller="clickable-row">
    <thead>
      <tr>
        <th>#</th>
        <th>Keyword phrase</th>
        <th>CTR</th>
      </tr>
    </thead>
    <tbody>
      <% @filtered_keyword_examples.each_with_index do |keyword_example, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= keyword_example.keyword_phrase %></td>
          <td><%= keyword_example.ctr %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No keyword examples found for the selected country and period.</p>
<% end %>




      <!-- TikTok-specific content for product -->
<% elsif @trend.platform == 'tiktok' && @trend.tiktok_page == 'product' %>
    <i class="fa-solid fa-arrow-left fa-2xl back-tiktok"
      style="color: #7d3bff; cursor: pointer; left: 0;"
      onclick="history.back();">
      Back
    </i>
        <div class= "tiktok-favorites-icon">
      <% if current_user.favorite.trends.exists?(id: @trend.id) %>
        <!-- Replace the button with a clickable trash icon -->
        <%= link_to favorite_remove_trend_path(favorite_id: current_user.favorite.id, trend_id: @trend.id),data: {turbo_method: :delete}, class: 'trash-icon-link' do %>
          <i class="fa-solid fa-bookmark fa-2xl" style="color: #7d3bff; cursor: pointer;"></i>
        <% end %>
      <% else %>
        <%= link_to favorite_add_trend_path(favorite_id: current_user.favorite.id, trend_id: @trend.id),data: {turbo_method: :post}, class: 'add-favorite-icon-link' do %>
          <i class="fa-regular fa-bookmark fa-2xl wishlist" style="color: #7d3bff;"></i>
        <% end %>
      <% end %>
  <div class="trend-details text-start">
    <h2 class="trend-title"><%= @trend.title %></h2>
  </div>

  <div class="statistics-grid">
    <div class="stat-box">
      <div class="info-icon" data-tooltip="The number of ad creatives featuring this product or subcategory.">?</div>
      <strong>Popularity</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.popularity) %></div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="The difference in number of ad creatives featuring this product or subcategory over the period you selected.">?</div>
      <strong>Popularity change</strong>
      <div class="stat-value">+<%= @trend.popularity_change %>%</div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="Clickthrough-rate (CTR) is the percentage of times people saw the ad and clicked on it.">?</div>
      <strong>CTR</strong>
      <div class="stat-value"><%= @trend.ctr %>%</div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="Conversion rate (CVR) is the percentage of results achieved out of all the clicks on the ad, based on ad objective. For example, app installs, product sales, or reach.">?</div>
      <strong>CVR</strong>
      <div class="stat-value"><%= @trend.cvr %>%</div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="Cost per action (CPA) is the average amount of money spent on a conversion.">?</div>
      <strong>CPA</strong>
      <div class="stat-value"><%= @trend.cpa %> USD</div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="The total amount of money spent on the ad during its schedule.">?</div>
      <strong>Cost</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.cost) %> USD</div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="The number of times the ad has been displayed on screen.">?</div>
      <strong>Impressions</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.impression_count) %></div>
    </div>
    <div class="stat-box">
      <div class="info-icon" data-tooltip="The percentage of people who watched the ad for at least 6 seconds.">?</div>
      <strong>6s view rate</strong>
      <div class="stat-value"><%= @trend.view_rate_6s %>%</div>
    </div>
    <div class="stat-box">
      <strong>Likes</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.like_count) %></div>
    </div>
    <div class="stat-box">
      <strong>Shares</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.share_count) %></div>
    </div>
    <div class="stat-box">
      <strong>Comments</strong>
      <div class="stat-value"><%= @trend.formatted_count(@trend.comment_count) %></div>
    </div>
  </div>


<% end %>


</div>
