<!-- Footer -->
<footer class="bg-black text-center text-white">
  <!-- Container -->
  <div class="container p-4">
    <!-- Grid -->
    <div class="row">
      <!-- Contact Section -->
      <div class="col-md-3 mb-4 contact">
        <h3 class="text-uppercase">Get in Touch With</h3>
        <%= image_tag "Idea 1 logo.png", class: "logo" %>
        <br><h6>Got questions, want to collaborate, or have feedback? Drop us a line:</h6>
        <p class="footer-email">Email: contact@trendal.me</p>
      </div>

      <!-- About Us Section -->
      <div class="col-md-8">
        <!-- Wrapper div for row layout -->
        <div class="row justify-content-center links">
          <!-- About Us Section -->
          <div class="col-md-3 mb-4">
            <h5 class="text-uppercase">About Us</h5>
            <ul class="list-unstyled">
              <li><%= link_to "Home", root_path, class: "footer-links" %></li>
              <li><%= link_to "Login", new_user_session_path, class: "footer-links" %></li>
            </ul>
          </div>

          <!-- Features Section -->
          <div class="col-md-3 mb-4">
            <h5 class="text-uppercase">Features</h5>
            <ul class="list-unstyled">
              <li><%= link_to "Browse Trends", trends_path, class: "footer-links" %></li>
              <li><%= link_to "Predict Trends", trends_path, class: "footer-links" %></li>
              <% if current_user.present? %>
                <li><%= link_to "Favorites", favorites_path, class: "footer-links" %></li>
              <% end %>
            </ul>
          </div>

          <!-- Follow Us Section -->
          <div class="col-md-3 mb-4 follow">
            <h5 class="text-uppercase">Follow Us</h5>
            <a href="#!" class="btn btn-outline btn-floating m-1"><i class="fa-brands fa-facebook fa-2xl"></i></a>
            <a href="#!" class="btn btn-outline btn-floating m-1"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href="#!" class="btn btn-outline btn-floating m-1"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
            <a href="#!" class="btn btn-outline btn-floating m-1"><i class="fa-brands fa-github fa-2xl"></i></a>
          </div>
        </div>
        <div class="row justify-content-center copyright">
          <p>
            This website has been coded by Artur, Rafael, and Lucas at Le Wagon.
          </p>
          <strong>© 2024 Trendal. All rights reserved.</strong>
        </div>
      </div>
    </div>
    <!-- Grid End -->
    </div>
  </div>
  <!-- Container End -->
</footer>
<!-- Footer End -->
