<!-- Footer -->
<footer class="bg-black text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.facebook.com/lewagonfrance/?brand_redir=1544432682516659" target="_blank" role="button">

      <!-- Instagram -->

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.instagram.com/lewagonportugal/" target="_blank" role="button">


      <!-- Linkedin -->

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.linkedin.com/showcase/lewagonportugal/?originalSubdomain=pt" target="_blank" role="button">


      <!-- Github -->

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/lucas-westonsmith/Trendal" target="_blank" role="button">

    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->

    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row", style= "justify-content:center">

        <!--Grid column-->
        <div></div>
        <div class="col-3">
          <ul class="list-unstyled mb-0">
            <li>

              <%= link_to "Home", root_path, class: "footer-links"%>
            </li>
            <li>
              <%= link_to "Login", new_user_session_path, class: "footer-links"%>

            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-3">
          <ul class="list-unstyled mb-0">
            <li>

              <%= link_to "Browse trends",trends_path, class: "footer-links" %>
            </li>
            <li>
              <%= link_to "Predict trends", new_user_session_path, class: "footer-links"%>
            </li>
            <li>
              <%= link_to "Favorites", new_user_session_path, class: "footer-links"%>
            </li>
            <li>
              <%= link_to "More stuff", new_user_session_path, class: "footer-links"%>

            </li>
          </ul>
        </div>
        <!--Grid column-->
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    This website has been coded by Artur, Rafael, and Lucas at Le Wagon
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
