<!-- Footer -->
<footer class="bg-black text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
        <i class="fab fa-facebook-f fa-xl"></i>
      </a>

      <!-- Instagram -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
        <i class="fab fa-instagram fa-2xl"></i>
      </a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
        <i class="fab fa-linkedin-in fa-2xl"></i>
      </a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
        <i class="fab fa-github fa-2xl"></i>
      </a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row" style="justify-content:center">

        <!--Grid column-->
        <div class="col-3">
          <ul class="list-unstyled mb-0">
            <strong><p style="color: #6925f1">About us</p></strong>
            <li>
              <%= link_to "Home", root_path, class: "footer-links"  %>
            </li>
            <li>
              <%= link_to "Login", new_user_session_path, class: "footer-links" %>
            </li>
          </ul>
        </div>

        <!--Grid column-->
        <div class="col-3">
          <ul class="list-unstyled mb-0">
            <strong><p style="color: #6925f1">Features</p></strong>
            <li>
              <%= link_to "Browse tends", trends_path, class: "footer-links" %>
            </li>
            <li>
              <%= link_to "Predict tends", trends_path, class: "footer-links" %>
            </li>
            <% if current_user.present? %>
              <li>
                <%= link_to "Favorites", favorites_path, class: "footer-links" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Logo in top left -->
  <div class="logo-container">
    <%= link_to root_path, class: "logo-link" do %>
      <%= image_tag "Idea 1 logo.png", class: "logo" %>
    <% end %>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    This website has been coded by Artur, Rafael, and Lucas at Le Wagon.
    <br>
    <strong>© 2024 Trendal. All rights reserved.</strong>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
